sudo: required

dist: trusty
  
language: php

php:
  - 7.0
  - 5.6
  
addons:
  hosts:
    - localtest
    
matrix:
  fast_finish: true
    
branches:
  only:
    - master
  
before_script:
- pwd
- sudo chmod -R 777 apache.sh
- ./apache.sh

script:
- curl http://127.0.0.1/test.php
- curl http://localhost/test.php
- curl http://localtest/test.php

after_script:
- sudo cat /var/log/apache2/error.log
- sudo cat /var/log/apache2/access.log
- sudo cat /var/log/apache2/other_vhosts_access.log
- ls -all
